<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TabButtonActivity" />
        <activity android:name=".TabHostActivity" />
        <activity android:name=".TabFirstActivity" />
        <activity android:name=".TabSecondActivity" />
        <activity android:name=".TabThirdActivity" />
        <activity android:name=".TabGroupActivity" />
        <activity android:name=".TabFragmentActivity" />
        <activity android:name=".ToolbarAndPopWindowActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".ClickEffectActivity" />
        <activity android:name=".TouchEventActivity" />
        <activity android:name=".LifecycleActivity" />
        <activity android:name=".LiveDataActivity" />
        <activity android:name=".LiveDataSampleActivity" />
        <activity android:name=".LiveDataTransformationsActivity" />
        <activity android:name=".WindowDialogActivity" />
        <activity android:name=".LocalBroadcastActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".SeekBarActivity" />
        <activity android:name=".OverflowMenuActivity" />
        <activity android:name=".SearchViewActivity" />
        <activity android:name=".ToolbarCustomActivity" />
        <activity android:name=".TabLayoutActivity" />
        <activity android:name=".TabCustomActivity" />
        <activity android:name=".BannerIndicatorActivity" />
        <activity android:name=".BannerPagerActivity" />
        <activity android:name=".BannerTopActivity" />
        <activity android:name=".RecyclerLinearActivity" />
        <activity android:name=".RecyclerGridActivity" />
        <activity android:name=".RecyclerCombineActivity" />
        <activity android:name=".RecyclerDragActivity" />
        <activity android:name=".RecyclerStaggeredActivity" />
        <activity android:name=".RecyclerDynamicActivity" />
        <activity android:name=".CoordinatorActivity" />
        <activity android:name=".AppbarRecyclerActivity" />
        <activity android:name=".AppbarNestedActivity" />
        <activity android:name=".CollapsePinActivity" />
        <activity android:name=".CollapseParallaxActivity" />
        <activity android:name=".ImageFadeActivity" />
        <activity android:name=".ScrollFlagActivity" />
        <activity android:name=".ScrollAlipayActivity" />
        <activity android:name=".SwipeRefreshActivity" />
        <activity android:name=".SwipeRecyclerActivity" />
        <activity android:name=".DepartmentStoreActivity" />
        <activity android:name=".DepartmentHomeActivity" />
        <activity android:name=".DepartmentClassActivity" />
        <activity android:name=".DepartmentCartActivity" />
        <activity android:name=".GlideActivity" />
        <activity android:name=".TimberActivity" />
        <activity android:name=".OrientationActivity" />
        <activity android:name=".BigPictureActivity" />
        <activity android:name=".MMKVActivity" />
        <activity android:name=".LevelListActivity" />
        <activity android:name=".Log4jActivity" />

        <activity android:name=".ARouterActivity" />
        <activity android:name=".arouter.activity.ActivityOne" />
        <activity android:name=".arouter.activity.InterceptorActivity" />
        <activity android:name=".arouter.activity.ParseActivity" />
        <activity android:name=".arouter.activity.ResultActivity" />
        <activity android:name=".arouter.activity.TestActivity" />
        <activity android:name=".arouter.activity.UrlSchemeActivity" />
        <activity android:name=".arouter.activity.WebViewActivity" />

        <activity android:name=".RxJavaRetrofitOkHttpActivity" />
        <activity android:name=".rxjava.RxJavaActivity01" />
        <activity android:name=".rxjava.RxJavaActivity02" />
        <activity android:name=".rxjava.RxJavaActivity03" />
        <activity android:name=".rxjava.RxJavaActivity04" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".retrofit.OkHttpActivity" />

        <activity android:name=".SearchResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name=".windowdialog.WindowService" />
        <service android:name=".windowdialog.FloatingService" />
        <service android:name=".livedata.MyLifecycleService" />

    </application>

</manifest>