<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.custom">

    <!-- 短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".activity.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CustomPropertyActivity" />
        <activity android:name=".activity.MeasureTextActivity" />
        <activity android:name=".activity.MeasureLayoutActivity" />
        <activity android:name=".activity.OnMeasureActivity1" />
        <activity android:name=".activity.OnMeasureActivity2" />
        <activity android:name=".activity.OnMeasureActivity3" />
        <activity android:name=".activity.OnLayoutActivity" />
        <activity android:name=".activity.ShowDrawActivity" />
        <activity android:name=".activity.RunnableActivity" />
        <activity android:name=".activity.PullRefreshActivity" />
        <activity android:name=".activity.CircleAnimationActivity" />
        <activity android:name=".activity.CircleClockActivity" />
        <activity android:name=".activity.RippleAnimActivity" />
        <activity android:name=".activity.RoundImageViewActivity" />
        <activity android:name=".activity.NiceImageViewActivity" />
        <activity android:name=".activity.CustomTextViewActivity" />
        <activity android:name=".activity.BezierQuadActivity" />
        <activity android:name=".activity.BezierCubicActivity" />
        <activity android:name=".activity.BezierCustomActivity" />
        <activity android:name=".activity.BezierRippleActivity" />
        <activity android:name=".activity.WindowActivity" />
        <activity android:name=".activity.DialogDateActivity" />
        <activity android:name=".activity.DialogMultiActivity" />
        <activity android:name=".activity.NotifySimpleActivity" />
        <activity android:name=".activity.NotifyCounterActivity" />
        <activity android:name=".activity.NotifyProgressActivity" />
        <activity android:name=".activity.NotifyCustomActivity" />
        <activity android:name=".activity.ServiceNormalActivity" />
        <activity android:name=".activity.BindImmediateActivity" />
        <activity android:name=".activity.BindDelayActivity" />
        <activity android:name=".activity.NotifyServiceActivity" />
        <activity android:name=".activity.AppInfoActivity" />
        <activity android:name=".activity.TrafficInfoActivity" />
        <activity android:name=".activity.MobileAssistantActivity" />
        <activity android:name=".activity.MobileConfigActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true" />
        <service
            android:name=".service.NormalService"
            android:enabled="true" />
        <service
            android:name=".service.BindImmediateService"
            android:enabled="true" />
        <service
            android:name=".service.BindDelayService"
            android:enabled="true" />
        <service
            android:name=".service.TrafficService"
            android:enabled="true" />

    </application>

</manifest>