<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.junior">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PxActivity" />
        <activity android:name=".activity.ColorActivity" />
        <activity android:name=".activity.ScreenActivity" />

        <activity android:name=".activity.MarginActivity" />
        <activity android:name=".activity.GravityActivity" />
        <activity android:name=".activity.ScrollActivity" />

        <activity android:name=".activity.MarqueeActivity" />
        <activity android:name=".activity.BbsActivity" />
        <activity android:name=".activity.ClickActivity" />

        <activity android:name=".activity.ScaleActivity" />
        <activity android:name=".activity.CaptureActivity" />
        <activity android:name=".activity.IconActivity" />

        <activity android:name=".activity.StateActivity" />
        <activity android:name=".activity.ShapeActivity" />
        <activity android:name=".activity.NineActivity" />

        <activity android:name=".activity.CalculatorActivity" />

    </application>

</manifest>