<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.middle">

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RelativeXmlActivity" />
        <activity android:name=".activity.RelativeCodeActivity" />
        <activity android:name=".activity.FrameActivity" />
        <activity android:name=".activity.CheckboxActivity" />
        <activity android:name=".activity.SwitchDefaultActivity" />
        <activity android:name=".activity.SwitchIOSActivity" />
        <activity android:name=".activity.RadioHorizontalActivity" />
        <activity android:name=".activity.RadioVerticalActivity" />
        <activity android:name=".activity.SpinnerDropdownActivity" />
        <activity android:name=".activity.SpinnerDialogActivity" />
        <activity android:name=".activity.SpinnerIconActivity" />
        <activity android:name=".activity.EditSimpleActivity" />
        <activity android:name=".activity.EditCursorActivity" />
        <activity android:name=".activity.EditBorderActivity" />
        <activity android:name=".activity.EditHideActivity" />
        <activity android:name=".activity.EditJumpActivity" />
        <activity android:name=".activity.EditAutoActivity" />
        <activity android:name=".activity.ActJumpActivity" />
        <activity android:name=".activity.ActNextActivity" />
        <activity android:name=".activity.ActRotateActivity" />
        <activity android:name=".activity.ActHomeActivity" />
        <activity android:name=".activity.ActUriActivity" />
        <activity android:name=".activity.ActRequestActivity" />
        <activity android:name=".activity.ActResponseActivity" />
        <activity android:name=".activity.TextCheckActivity" />
        <activity android:name=".activity.MortgageActivity" />
        <activity android:name=".activity.AlertActivity" />
        <activity android:name=".activity.LoginMainActivity" />
        <activity android:name=".activity.LoginForgetActivity" />

    </application>

</manifest>